{
  "accountId": "{{ random_guid() }}",
  "accountName": "{{ context.account_name | default('EXAMPLE COMPANY') }}",
  "activityType": {{ random_int(5000, 5999) }},
  "activityUuid": "{{ random_guid() }}",
  "agentId": "{{ random_guid() }}",
  "agentUpdatedVersion": null,
  "comments": null,
  "createdAt": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ') }}",
  "data": {
    "accountName": "{{ context.account_name | default('EXAMPLE COMPANY') }}",
    "bluetoothAddress": "",
    "computerName": "{{ registry.get_random_device().hostname }}",
    "creator": "N/A",
    "deviceClass": "{{ context.device_class | default('00h') }}",
    "deviceInformationServiceInfoKey": "",
    "deviceInformationServiceInfoValue": "",
    "deviceName": "{{ context.device_name | default('&lt;N/A&gt;') }}",
    "eventId": "{{ '{' + random_guid() + '}' }}",
    "eventTime": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%f+00:00') }}",
    "eventType": "{{ context.event_type | default(['connected', 'disconnected']|random) }}",
    "externalServiceId": null,
    "fullScopeDetails": "Group {{ context.group_name | default('Policy Testing') }} in Site {{ context.site_name | default('Clients') }} of Account {{ context.account_name | default('EXAMPLE COMPANY') }}",
    "fullScopeDetailsPath": "Global / {{ context.account_name | default('EXAMPLE COMPANY') }} / {{ context.site_name | default('Clients') }} / {{ context.group_name | default('Policy Testing') }}",
    "gattService": "",
    "groupId": "{{ random_guid() }}",
    "groupName": "{{ context.group_name | default('Policy Testing') }}",
    "interface": "USB",
    "ipAddress": "{{ random_ip() }}",
    "lastLoggedInUserName": "{{ registry.get_random_user().username }}",
    "lmpVersion": "N/A",
    "manufacturerName": "{{ context.manufacturer_name | default('') }}",
    "minorClass": "N/A",
    "osType": "{{ context.os_type | default('windows') }}",
    "physicalDeviceId": null,
    "productId": "{{ random_int(1000, 9999) | string }}",
    "profileUuids": "N/A",
    "realUser": null,
    "ruleId": "-1",
    "ruleName": null,
    "ruleScopeName": null,
    "ruleType": "productId",
    "scopeLevel": "Group",
    "scopeName": "{{ context.group_name | default('Policy Testing') }}",
    "siteName": "{{ context.site_name | default('Clients') }}",
    "sourceType": "API",
    "uid": "{{ random_string(12, '0123456789ABCDEF') }}",
    "vendorId": "{{ random_int(100, 999) | string }}",
    "version": "N/A"
  },
  "description": null,
  "groupId": "{{ random_guid() }}",
  "groupName": "{{ context.group_name | default('Policy Testing') }}",
  "hash": null,
  "id": "{{ random_guid() }}",
  "osFamily": null,
  "primaryDescription": "USB device {{ context.device_name | default('&lt;N/A&gt;') }} was {{ context.event_type | default(['connected', 'disconnected']|random) }} on {{ registry.get_random_device().hostname }}.",
  "secondaryDescription": "IP address: {{ random_ip() }}",
  "siteId": "{{ random_guid() }}",
  "siteName": "{{ context.site_name | default('Clients') }}",
  "threatId": null,
  "updatedAt": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ') }}",
  "userId": null,
  "timestamp": "{{ current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ') }}",
  "modular_input_consumption_time": "{{ current_timestamp() | format_timestamp('%a, %d %b %Y %H:%M:%S +0000') }}"
}