1,{{ now() | strftime('%Y/%m/%d %H:%M:%S') }},{{ random_string(12, '0123456789') }},SYSTEM,bfd,7,{{ now() | strftime('%Y/%m/%d %H:%M:%S') }},,session-state-change,{{ random_choice(['ae1', 'ae2', 'ae3', 'ethernet1/1', 'ethernet1/2', 'ethernet1/3']) }}.{{ random_int(100, 4094) }},0,0,general,informational,"BFD state changed to {{ random_weighted(['Init', 'Up', 'Down', 'AdminDown'], [15, 50, 30, 5]) }} for BFD session {{ random_int(1, 255) }} to neighbor {{ random_choice([random_public_ip(), fake.ipv6()]) }} on interface {{ random_choice(['ae1', 'ae2', 'ae3', 'ethernet1/1', 'ethernet1/2']) }}.{{ random_int(100, 4094) }}. Protocol: {{ random_choice(['BGP', 'OSPF', 'IS-IS', 'Static']) }}",{{ random_int(1000000000000000000, 9999999999999999999) }},0x8000000000000000,0,0,0,0,,{{ registry.get_random_device().hostname }},0,0,{{ now() | iso8601_utc(include_microseconds=True) | replace('+00:00', '') }}+00:00