{%- set user = registry.get_random_user() -%}
{%- set device = registry.get_random_device() -%}
{%- set timestamp = current_timestamp() -%}
{%- set document_id = random_guid() -%}
{%- set country_codes = ["US", "DE", "GB", "CA", "FR", "AU", "JP", "BR", "IN", "SG"] -%}
{%- set actions = ["repository_vulnerability_alerts.disable", "repository_vulnerability_alerts.enable", "repo.create", "repo.destroy", "org.add_member", "org.remove_member"] -%}
{%- set action = actions | random -%}
{%- set org_name = "org" + random_string(5, "abcdefghijklmnopqrstuvwxyz") -%}
{%- set org_id = random_int(100000000, 999999999) -%}
{%- set business_name = "business" + random_string(3, "abcdefghijklmnopqrstuvwxyz") -%}
{%- set business_id = random_int(100000, 999999) -%}
{%- set repo_name = org_name + "/" + "repo" + random_string(5, "abcdefghijklmnopqrstuvwxyz") -%}
{%- set repo_id = random_int(900000000, 999999999) -%}
{%- set is_bot = [true, false] | random -%}
{%- set country_code = country_codes | random -%}
{%- set public_repo = [true, false] | random -%}
{
  "@timestamp": {{ timestamp * 1000 }}, 
  "_document_id": "{{ document_id | replace('-', '') }}",
  "action": "{{ action }}",
  "actor": "{{ user.username }}",
  "actor_id": {{ user.user_id | default(random_int(1000000, 9999999)) }},
  "actor_ip": "{{ device.ip_address | default(random_public_ip()) }}",
  "actor_is_bot": {{ is_bot | lower }},
  "actor_location": {"country_code": "{{ country_code }}"},
  "business": "{{ business_name }}",
  "business_id": {{ business_id }},
  "created_at": {{ timestamp * 1000 }},
  "operation_type": "modify",
  "org": "{{ org_name }}",
  "org_id": {{ org_id }},
  "public_repo": {{ public_repo | lower }},
  "repo": "{{ repo_name }}",
  "repo_id": {{ repo_id }},
  "request_access_security_header": null,
  "user": "{{ user.username }}",
  "user_agent": "Mozilla/5.0 ({{ ["Windows NT 10.0", "Macintosh; Intel Mac OS X 10_15_7", "Linux x86_64"] | random }}) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/{{ random_int(120, 135) }}.0.0.0 Safari/537.36",
  "user_id": {{ user.user_id | default(random_int(1000000, 9999999)) }}
}