{%- set incident = ["Unusual File Access Patterns", "Minor Policy Violations", "Unusual Log Modifications"] | random -%}
{%- set user = registry.get_random_user() -%}
{%- set ProtectionIncID = random_guid() -%}
{%- set customer_id = random_guid() -%}

{%- set FalconHostLink = "https://falcon.crowdstrike.com/identity-protection/detections/" + random_guid() + ":ind:" + random_guid() + ":" + ProtectionIncID -%}
{
    "metadata": {
        "customerIDString": "{{ customer_id }}",
        "offset": 79682841,
        "eventType": "IdentityProtectionEvent",
        "eventCreationTime": " {{ timestamp }} ",
        "version": "1.0"
    },
    "event": {
        "IncidentType": "{{ incident }} ",
        "IncidentDescription": " {{ incident }} ",
        "Severity": "{{ [3,4] | random }}",
        "SeverityName": "LOW",
        "StartTime": {{ timestamp }},
        "EndTime": {{ timestamp }},
        "IdentityProtectionIncidentId": "{{ ProtectionIncID }}",
        "UserName": "{{ user.username }}",
        "EndpointName": "",
        "EndpointIp": "",
        "Category": "Detections",
        "NumbersOfAlerts": 1,
        "NumberOfCompromisedEntities": 1,
        "State": "NEW",
        "FalconHostLink": "{{ FalconHostLink }}"
    },
    "ta_data": {
        "Feed_id": "0",
        "Multiple_feeds": "False",
        "Cloud_environment": "us_commercial",
        "TA_version": "3.2.1",
        "Input": "TestlabCrwd",
        "App_id": "TestlabSplunkPoV",
        "Event_types": "['All']",
        "Initial_start": "historic"
    }
}