{# Resource Access Event Template - Generates XML format resource access logs #}
{# Set up variables from registry and random functions #}
{%- set user = registry.get_random_user() -%}
{%- set device = registry.get_random_device() -%}
{%- set resource_types = ['document', 'file', 'application', 'database', 'server', 'api'] -%}
{%- set resource_type = resource_types | random -%}
{%- set actions = ['read', 'write', 'execute', 'delete', 'modify', 'create'] -%}
{%- set action = actions | random -%}
{%- set statuses = ['success', 'failure'] -%}
{%- set status = statuses | random -%}
{%- set status_codes = {'success': [200, 201, 204], 'failure': [400, 401, 403, 404, 500]} -%}
{%- set status_code = status_codes[status] | random -%}
{%- set domain = registry.get_domain() -%}
{%- set netbios_domain = registry.get_netbios_domain() -%}
<?xml version="1.0" encoding="UTF-8"?>
<Event xmlns="http://example.com/events/resource-access/v1">
  <Header>
    <EventID>{{ context.event_id | default(1234) }}</EventID>
    <EventType>ResourceAccess</EventType>
    <Severity>{{ context.severity | default('Information') }}</Severity>
    <SourceSystem>{{ context.source_system | default('ApplicationName') }}</SourceSystem>
    <TimeCreated>{{ timestamp | default(current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ')) }}</TimeCreated>
    <EventRecordID>{{ random_int(10000, 99999) }}</EventRecordID>
  </Header>
  
  <User>
    <UserID>{{ user_id | default(user.user_id) }}</UserID>
    <Username>{{ user.username }}</Username>
    <Domain>{{ netbios_domain }}</Domain>
    <Email>{{ user.email }}</Email>
    {% if user.department is defined %}
    <Department>{{ user.department }}</Department>
    {% endif %}
    {% if user.title is defined %}
    <Title>{{ user.title }}</Title>
    {% endif %}
    <EmployeeType>{{ user.employee_type | default('employee') }}</EmployeeType>
  </User>
  
  <ClientDevice>
    <Hostname>{{ device.hostname }}</Hostname>
    {% if device.fqdn is defined %}
    <FQDN>{{ device.fqdn }}</FQDN>
    {% else %}
    <FQDN>{{ device.hostname }}.{{ domain }}</FQDN>
    {% endif %}
    <IPAddress>{{ ip_address | default(device.ip_address) }}</IPAddress>
    {% if device.mac_address is defined %}
    <MACAddress>{{ device.mac_address }}</MACAddress>
    {% endif %}
    <OSType>{{ device.os_type | default('Windows') }}</OSType>
    {% if device.os_version is defined %}
    <OSVersion>{{ device.os_version }}</OSVersion>
    {% endif %}
  </ClientDevice>
  
  <Action>
    <ActionType>{{ action }}</ActionType>
    <Timestamp>{{ timestamp | default(current_timestamp() | format_timestamp('%Y-%m-%dT%H:%M:%S.%fZ')) }}</Timestamp>
    <Status>{{ status }}</Status>
    <StatusCode>{{ status_code }}</StatusCode>
    {% if details is defined %}
    <Details>{{ details }}</Details>
    {% endif %}
    <ProcessID>{{ process_id | default(random_int(1000, 10000)) }}</ProcessID>
    <ThreadID>{{ thread_id | default(random_int(1000, 10000)) }}</ThreadID>
    <SessionID>{{ session_id | default(random_guid()) }}</SessionID>
  </Action>
  
  <Resource>
    <ResourceID>{{ resource_id | default(resource_type + '-' + random_int(100, 999) | string) }}</ResourceID>
    <ResourceType>{{ resource_type }}</ResourceType>
    <ResourceName>{{ resource_type | title }} {{ random_int(1000, 9999) }}</ResourceName>
    {% if resource_type == 'document' or resource_type == 'file' %}
    <Path>/{{ random_string(5) }}/{{ random_string(8) }}/{{ resource_id | default(resource_type + '-' + random_int(100, 999) | string) }}</Path>
    <Size>{{ random_int(1024, 10485760) }}</Size>
    {% elif resource_type == 'database' %}
    <DatabaseName>{{ random_string(8) | lower }}</DatabaseName>
    <TableName>{{ random_string(10) | lower }}</TableName>
    {% elif resource_type == 'server' %}
    <ServerType>{{ ['application', 'database', 'web', 'file'] | random }}</ServerType>
    <ServerAddress>{{ random_private_ip() }}</ServerAddress>
    {% elif resource_type == 'api' %}
    <Endpoint>/api/v{{ random_int(1, 3) }}/{{ random_string(8) | lower }}</Endpoint>
    <Method>{{ ['GET', 'POST', 'PUT', 'DELETE'] | random }}</Method>
    {% endif %}
    <Owner>{{ registry.get_random_user().username }}</Owner>
  </Resource>
  
  <SecurityContext>
    <AuthMethod>{{ ['Password', 'Certificate', 'MFA', 'Token', 'SSO'] | random }}</AuthMethod>
    <AuthorizationLevel>{{ ['User', 'PowerUser', 'Administrator', 'System', 'Guest'] | random }}</AuthorizationLevel>
    {% if status == 'failure' and status_code == 403 %}
    <RequiredPermission>{{ ['Read', 'Write', 'Execute', 'FullControl'] | random }}</RequiredPermission>
    <ActualPermission>{{ ['None', 'Read'] | random }}</ActualPermission>
    {% endif %}
    <LogonType>{{ random_int(1, 10) }}</LogonType>
  </SecurityContext>
  
  <AdditionalData>
    <NetworkZone>{{ ['Internal', 'DMZ', 'External', 'VPN'] | random }}</NetworkZone>
    <UserAgent>Mozilla/5.0 ({{ ['Windows NT 10.0', 'Macintosh', 'Linux x86_64'] | random }}; rv:{{ random_int(80, 110) }}.0) {{ random_string(10) }}/{{ random_int(10, 20) }}.{{ random_int(0, 9) }}</UserAgent>
    {% if random_int(1, 10) > 8 %}
    <ForwardedFor>{{ random_public_ip() }}</ForwardedFor>
    {% endif %}
    <RequestID>{{ random_guid() }}</RequestID>
  </AdditionalData>
</Event>